<h1>Listing records</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Year</th>
    <th>Artist(s)</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @records.each do |record| %>
  <tr>
    <td><%= record.name %></td>
    <td><%= record.year %></td>
    <td><%= show_name record.lead_artist %></td>
    <td><%= record.notes %></td>
    <td><%= link_to 'Show', record %></td>
    <td><%= link_to 'Edit', edit_record_path(record) %></td>
    <td><%= link_to 'Destroy', record, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Record', new_record_path %>
